<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="text-align: center;">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-icon matPrefix svgIcon="icn_buscar"></mat-icon>
        <mat-label>Buscar . . .</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)">
      </mat-form-field>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="row ml-4 mb-3">
    <div class="col-md-2">
      <a (click)="addEmployee()" class="list-group-item2">
        <span class="color"><button mat-button>
          <i class="fa fa-plus"aria-hidden="true"></i> &nbsp; Agregar empleado</button>
        </span>
      </a>
    </div>
    <div class="col-md-10"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

      <mat-table [dataSource]="dataSource" matSort WIDTH="100%">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef class="absorbing-column"> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="last_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.last_name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="birthday">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Cumpleaños </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.birthday }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="row-table"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>